<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>

<img class="image1" src="/public/images/camus-1.jpg" alt="">
<img class="image2" src="/public/images/camus-2.webp" alt="">
<img class="image3" src="/public/images/camus-3.jpg" alt="">
<img class="image4" src="/public/images/camus-4.jpg" alt="">
<img class="image5" src="/public/images/camus-5.jpg" alt="">



  <a href="index.html">Back to Home</a>
</body>
</html>