<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Everything about Albert Camus </title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
  <h1><i>Everything about Albert Camus</i></h1>

<nav>
  <ul>
    <li> <a href="about_page.html">About</a></li>
    <li> <a href="work_page.html">Works</a></li>
    <li> <a href="gallery_page.html">Photo Gallery</a></li>
  </ul>
</nav>



</body>
</html>