<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Works</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
<h1>Works</h1>
  <img src="/public/images/myth-of-sisyphus.jpeg" alt="">
  <p class="work-p">The Myth of Sisyphus (French: Le mythe de Sisyphe) is a 1942 philosophical essay by Albert Camus. 
    
    Influenced by philosophers such as Søren Kierkegaard, Arthur Schopenhauer, and Friedrich Nietzsche, Camus introduces his philosophy of the absurd. The absurd lies in the juxtaposition between the fundamental human need to attribute meaning to life and the "unreasonable silence" of the universe in response. Camus claims that the realization of the absurd does not justify suicide, and instead requires "revolt." He then outlines several approaches to the absurd life. In the final chapter, Camus compares the absurdity of man's life with the situation of Sisyphus, a figure of Greek mythology who was condemned to repeat forever the same meaningless task of pushing a boulder up a mountain, only to see it roll down again. The essay concludes, "The struggle itself ... is enough to fill a man's heart. One must imagine Sisyphus happy".
    
    The work can be seen in relation to other absurdist works by Camus: the novel The Stranger (1942), the plays The Misunderstanding (1942) and Caligula (1944), and especially the essay The Rebel (1951).</p> <hr>
  <img src="/public/images/the-fall.png" alt="">
  <p class="work-p">
    The Fall (French: La Chute) is a philosophical novel by Albert Camus. First published in 1956, it is his last complete work of fiction. Set in Amsterdam, The Fall consists of a series of dramatic monologues by the self-proclaimed "judge-penitent" Jean-Baptiste Clamence, as he reflects upon his life to a stranger. In what amounts to a confession, Clamence tells of his success as a wealthy Parisian defense lawyer who was highly respected by his colleagues. His crisis, and his ultimate "fall" from grace, was meant to invoke, in secular terms, the fall of man from the Garden of Eden. The Fall explores themes of innocence, imprisonment, non-existence, and truth. In a eulogy to Albert Camus, existentialist philosopher Jean-Paul Sartre described the novel as "perhaps the most beautiful and the least understood" of Camus' books.
  </p> <hr>
  <img src="/public/images/the-plague.jpg" alt="">
  <p class="work-p">
    The Plague (French: La Peste) is a novel by Albert Camus. Published in 1947, it tells the story from the point of view of a narrator of a plague sweeping the French Algerian city of Oran. The narrator remains unknown until the start of the last chapter, chapter 5 of part 5. The novel presents a snapshot of life in Oran as seen through the author's distinctive absurdist point of view.

Camus used as source material the cholera epidemic that killed a large proportion of Oran's population in 1849, but situated the novel in the 1940s. Oran and its surroundings were struck by disease several times before Camus published his novel. According to an academic study, Oran was decimated by the bubonic plague in 1556 and 1678, but all later outbreaks (in 1921: 185 cases; 1931: 76 cases; and 1944: 95 cases) were very far from the scale of the epidemic described in the novel.

The Plague is considered an existentialist classic despite Camus' objection to the label. The novel stresses the powerlessness of the individual characters to affect their destinies. The narrative tone is similar to Kafka's, especially in The Trial, whose individual sentences potentially have multiple meanings; the material often pointedly resonating as stark allegory of phenomenal consciousness and the human condition.
  </p> <hr>
  <img src="/public/images/the-stranger-118.jpg" alt="">
  <p class="work-p">
    The Stranger , also published in English as The Outsider, is a 1942 novella written by French author Albert Camus. The first of Camus' novels published in his lifetime, the story follows Meursault, an indifferent settler in French Algeria, who, weeks after his mother's funeral, kills an unnamed Arab man in Algiers. The story is divided into two parts, presenting Meursault's first-person narrative before and after the killing.
  </p> <hr>
  <a href="index.html">Back to Home</a>
</body>
</html>